:root {
    --color-primary: #121212;
    --color-secondary: #000;
    --color-nav-bar: #0346D0;
    --color-background: #FFF;
    --color-background-newsletter: #92BEDB;
    --color-button-background: #1A295A;
    --color-button-text: #FFF;
    --display-font: "Montserrat";
    --body-font: "Poppins";
    --font-size-xl: 2.5rem;
    --font-size-lg: 1.75rem;
    --font-size-md: 1.5rem;
    --navbar-width: 50px;
    --navbar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 1rem;
    --hamburger-height: calc(var(--navbar-height) * 3 + var(--hamburger-gap) * 2);
    --animation-timing: 200ms ease-in-out;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}